
/* MEDIA QUERIES OM WAT VAN MATERIALIZE TE FIXEN*/
@media screen and (min-width:2880px){
    .mdl-layout--fixed-header>.mdl-layout__header {
        position: fixed;
    }
}
@media screen and (max-width:2880px){
    .mdl-layout--fixed-header>.mdl-layout__header {
        position: fixed;
    }
}
html, body, .mdl-layout__title, .mdl-layout-title {
    font-family: "Open Sans";
}


/* NAV */

a:hover {
    background-color: #ef3d4d;
}

/* ALGEMEEN */
.mdl-layout__header {
    background-color: crimson;
}

.mdl-layout__title {
    border: solid;
    border-width: 2px;
    padding: 3px;
}

h4, h6 {
    margin:10px 0 5px 0;
}

strong {
    color: #0277bd;
}

header {
    margin-top:100px;
}
.main-container {
    padding:100px 0;

}

.main-container .readmore {
    padding: 12px 6px;
    border:1px solid black;
    background-color: #01579b;
    color:white;
}

.footer-container {

}

/* PAGINAS */

/* HOME PAGINA */
.posts {
    padding: 0 33%;
    padding-top: 50px;
    padding-bottom: 40px;
}

/* BLOG PAGINA */
#blog .mdl-grid {
    margin-bottom:25px;
}

#blog .mdl-grid p {
    margin-bottom:25px;
}

/* PORTFOLIO PAGINA */

#portfolio .mdl-grid {
    text-align: center;
}

/* ABOUT PAGINA */
#about {
    text-align: center;
}

#about .demo-card-wide.mdl-card {
    width:80%;
    margin:0 auto;
}

#about ul li {
    list-style: none;
    text-align: center;
}

/* KNOPPEN */

.mdl-button--icon {
    background-color: crimson;
}
