
/* MEDIA QUERIES OM WAT VAN MATERIALIZE TE FIXEN */
@media screen and (min-width:2880px){
    .mdl-layout--fixed-header>.mdl-layout__header {
        position: fixed;
    }
}
@media screen and (max-width:2880px){
    .mdl-layout--fixed-header>.mdl-layout__header {
        position: fixed;
    }
}
html, body, .mdl-layout__title, .mdl-layout-title {
    font-family: "Open Sans";
}



/* NAV */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #BF4D4D;
}




/* ALGEMEEN */
.mdl-layout__header-row {
    background-color: #CF5454;
}

.mdl-layout__title {
    border: solid;
    border-width: 2px;
    padding: 3px;
}

h4, h6 {
    margin:10px 0 5px 0;
}

strong {
    color: #0277bd;
}

header {
    margin-top:100px;
}
.main-container {
    padding:100px 0;

}

.main-container .readmore {
    padding: 12px 6px;
    border:1px solid black;
    background-color: #01579b;
    color:white;
}

.footer-container {

}



/* **PAGINAS** */



/* HOME PAGINA */
.posts {
    padding: 0 33%;
    padding-top: 50px;
    padding-bottom: 40px;
}



/* HOME PAGINA POSTS WORDPRESS */

.content {
    padding: 0 33%;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
}

.content strong {
    color: #BF4D4D;
}

.title a {
    color: #262626;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.title a:hover,
.title a:focus,
.title a:active {
    transform: scale(1.1);
}

.date {
    font-size: 14px;
}
/* BLOG PAGINA */
#blog .mdl-grid {
    margin-bottom:25px;
}

#blog .mdl-grid p {
    margin-bottom:25px;
}

.blogposts {
    list-style-type: none;
}





/* PORTFOLIO PAGINA */

#portfolio .mdl-grid {
    text-align: center;
}





/* ABOUT PAGINA */
#about {
    text-align: center;
}

#about .demo-card-wide.mdl-card {
    width:80%;
    margin:0 auto;
}

#about ul li {
    list-style: none;
    text-align: center;
}




/* CONTACT PAGINA */
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea
{
    background-color: #fff;
    color: #000;
    width: 50%;
}




/* KNOPPEN */

.mdl-button--icon {
    background-color: crimson;
}

.more-link {
    color: #3f51b5;
    background: 0 0;
    border: none;
    border-radius: 2px;
    position: relative;
    height: 36px;
    margin-top: 8px;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0,.1);
}

.more-link:hover {
    background-color:hsla(0, 56%, 57%, 0.1);
}

h3 title {
    list-style-type: none;
    text-decoration: none;
}
/* FOOTER */

#footermenu {

    margin: auto;
    padding: 20px;
    display: inline;
    list-style-type: none;
}

footer a {
    text-decoration: none;
}


/* COMMENTS & REPLIES */

ol {
    margin: 10px 5px;
    padding: 10px;
}
.comment-body{
    padding: 10px;
    background: #f5d6d6;
    border: solid thin #DEDEDE;
    margin: 10px 0;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.comment-body a.comment-reply-link{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 8px;
    vertical-align: middle;
    line-height: 42px;
}
ol li{
    list-style: none;
}
ol img.avatar{
    padding: 5px;
    background: #f5d6d6;
    float: left;
    display: block;
    margin: 15px;
    width: 32px;
    height: 32px;
}
ol .comment-author{
    line-height: 25px;
}
.comment-body cite.fn{
    font-size: 14px;
    font-style: normal;
}
.commentmetadata a{
    margin: 0;
    font-size: 11px;
    color: #999;
}
.comment-body p{
    margin: 5px;
}

.comment-body .comment-author.vcard{
    margin: 0;
}

/* respond venster */

#respond {


    padding:0 5px 0 5px;
    height: 400px;

}

#respond input[type=text], textarea {

    -webkit-transition: all 0.30s ease-in-out;

    -moz-transition: all 0.30s ease-in-out;

    -ms-transition: all 0.30s ease-in-out;

    -o-transition: all 0.30s ease-in-out;

    outline: none;

    padding: 3px 0px 3px 3px;

    margin: 5px 1px 3px 0px;

    border: 1px solid #DDDDDD;

}

#respond input[type=text]:focus, textarea:focus {

    box-shadow: 0 0 5px rgba(81, 203, 238, 1);

    margin: 5px 1px 3px 0px;

    border: 1px solid rgba(81, 203, 238, 1);

}

#author {

    font-family: Lobster, "Lobster 1.4", "Droid Sans", Arial;
    font-size: 16px;
    color:#1d1d1d;
    letter-spacing:.1em;
}



#url  {
    color: #21759b;
    font-family: "Luicida Console", "Courier New", "Courier", monospace;
}

#respond h2 {
    font-size: 25px;
    border-top: 1px solid rgba(0,0,0,.1);

}

#comment-2 p {
    font-weight: lighter;
    font-size: 22px;
}
#comment-2 a {
    font-weight: lighter;
    list-style-type: none;
    text-decoration: none;
}
.comment-meta a {
    text-decoration: none;
    font-size: 10px;
}

.fn, .says {
    color: #1d1d1d;
}

.mdl-button--fab a {
    font-size: 4px;
}

.logged-in-as a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.vertical-line {
    border-left: 2px solid white;
    height: 100%;

}

/* REGISTER MENU */

#registermenu {
    margin-top: 10px;
}

#loginform {
    margin-top: 260px;
}

p {
    color: black;
}

/* SOCIAL MEDIA */

/* Wrapper */
.icon-button {
    background-color: white;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
}

/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}
.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}
.twitter span {
    background-color: #4099ff;
}
.facebook span {
    background-color: #3B5998;
}
.google-plus span {
    background-color: #db5a3c;
}

/* Icons */
.icon-button i {
    background: none;
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}
.icon-button .icon-twitter {
    color: #4099ff;
}
.icon-button .icon-facebook {
    color: #3B5998;
}
.icon-button .icon-google-plus {
    color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
    color: white;
}